<svg
    xmlns="https://www.w3.org/2000/svg"
    xmlns:xlink="https://www.w3.org/1999/xlink"
    width="0"
    height="0"
    style="position: absolute; display: none"
>
    <symbol id="icon-search" viewBox="0 0 21.4 21.4">
        <path
            d="M13.4 15.4c-1.4 1-3.1 1.6-4.9 1.6C3.8 17 0 13.2 0 8.5S3.8 0 8.5 0 17 3.8 17 8.5c0 1.8-.6 3.5-1.6 4.9L21 19c.6.6.5 1.4 0 2-.5.5-1.4.5-2 0l-5.6-5.6zM8.5 15c3.6 0 6.5-2.9 6.5-6.5S12.1 2 8.5 2 2 4.9 2 8.5 4.9 15 8.5 15z"
        />
    </symbol>

    <symbol id="icon-heart" viewBox="0 0 20 18">
        <path
            d="M14.4 2c2 0 3.6 1.6 3.6 3.6s-3.9 6.4-8 9.8c-4.1-3.5-8-7.9-8-9.8C2 3.6 3.6 2 5.6 2 8 2 10 5 10 5s1.9-3 4.4-3m0-2C12.6 0 11 .9 10 2.3 9 .9 7.4 0 5.6 0 2.5 0 0 2.5 0 5.6 0 10 10 18 10 18s10-8 10-12.4C20 2.5 17.5 0 14.4 0z"
        />
    </symbol>
</svg>
