%fixedXY {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.no-scroll {
    @extend %fixedXY;
    overflow-y: scroll;
}

.not-allowed {
    pointer-events: none !important;
}

.container {
    width: 100%;
    padding: 0 15px;
    max-width: 1170px;
    margin: 0 auto;
}
